<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BusinessLogicTier.Properties.Settings.Demo3TiersConnectionString"
            connectionString="Data Source=.;Initial Catalog=Demo3Tiers;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>